form {
    margin: 0 auto;
    width: 510px;
    margin-top: 90px;

}

form input {
    display: inline-block;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 4px;
}

form label {
    display: inline-block;
    width: 300px;
}

#button { 
    margin-top: 30px;
    background-color: #3A5EE2;
    color: #FFF;
}

#envio {
    margin: 0 auto;
    width: 210px;
    margin-top: 30px;
}

#registro {
    display: inline-block;
    width: 500px;
    margin-bottom: 10px;
    background-color: #FFF;
    border: 1px solid #3A5EE2;
    color: #3A5EE2;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
    font-size: 1em;
}

a, a:hover{
    text-decoration: none;
}

h2 {
    color: #3A5EE2;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20%;
    font-size: 2.3em;;
}

#top {
    background-color: #3A5EE2;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom right, #3A5EE2, #FFF);
    
}


#logo {
    font-size: 2em;
    margin-left: 10px;
}

#logo:visited {
    color: #FFF;
}

.error{
    display: none;
    color: red;
    font-size: 0.8em;
    margin: 0;
}